<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>276108584401-iav08kd6irmvopng3n8ces48h9s5llg0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.276108584401-iav08kd6irmvopng3n8ces48h9s5llg0</string>
	<key>API_KEY</key>
	<string>AIzaSyDYkzh_qFCyHEB1y2N715P67mj3Bki6oKU</string>
	<key>GCM_SENDER_ID</key>
	<string>276108584401</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>moansh.Pictory</string>
	<key>PROJECT_ID</key>
	<string>pictory-may2018</string>
	<key>STORAGE_BUCKET</key>
	<string>pictory-may2018.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:276108584401:ios:fe76a3dc544d2989</string>
	<key>DATABASE_URL</key>
	<string>https://pictory-may2018.firebaseio.com</string>
</dict>
</plist>